/* Peekender CSS Styles */
body {
	font-family: 'Akshar', Arial, sans-serif;
	background-color: #63CFC5;
	color: #000;
	margin: 0px;
	padding-top: 200px;
	font-size: 14px;
}

p {
	line-height: 0.8;
}

@media screen and (min-width: 892px) {
	body {
		padding-top: 120px;
		font-size: 16px;
	}
}

.header-container {
	background-color: #63CFC5;
	background-image: linear-gradient(#090a38, #63CFC5);
	color: #fff;
	text-align: center;
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
		  
}

.padding-container {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.header-navbar {
	display: flex;
	width: 100%;
	text-align: center;
}

.header-navbar span {
	font-size: 35px;
	color: white;
	cursor: pointer;
	padding: 10px;
}

.header-logo-container {
	width: 100%;
	vertical-align: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	cursor: pointer;
}

.logo {
	width: 90%;
}

.logo-peekender {
	max-width: 258px;
}

.logo-smiley {
	width: 10%;
	margin-right: 20px;
}

.logo-familyfayre {
	/* border: 10px solid blue;  */
	max-width: 291px;
}

@media screen and (min-width: 892px) {
	.header-logo-container {
		flex-direction: row;
		align-items: space between;
		justify-content: center;
	}
	.logo {
		/* border: 10px solid red;  */
		width: initial;
		max-width: initial;
		max-height: 80px;
		overflow: hidden;
	}
	.logo-peekender {
		/*  border: 10px solid green; */
	}
	.logo-smiley {
		/* border: 10px solid orange;  */
		max-height: 40px;
		margin: 0 40px;
	}
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #04d61d;
	overflow-x: hidden;
	padding-top: 15px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	text-shadow: 4px 4px 4px #153618;
	font-size: 18px;
	color: white;
	display: block;
	transition: 0.3s;
	text-align: left;
}

.sidenav a:hover {
	color: #cb42f5;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (min-width: 892px) {
	.sidenav {padding-top: 60px;}
	.sidenav a {font-size: 25px;}
}

.middle-grid-container {
	display: grid;
	grid-template-columns: 5% auto 5%;
	grid-template-rows: auto auto auto auto;
	gap: 5px;
	background-color: #63CFC5;
	padding: 10px;
	text-align: center;
}

.grid-side {
}

.grid-date {
}

.grid-date img {
	width: 50%;
	max-height: 42px;
	min-height: 30px;
	max-width: 460px;
	min-width: 230px;
}

.grid-text1 {
}

#line-up, #location, #info, #connect {
	text-align: left;
}

@media screen and (min-width: 892px) {
	#line-up, #location, #info {
		padding-left: 140px;
		padding-right: 140px;
	}
}


.grid-page-logo {
}

.grid-page-logo img {
	width: 40%;
	padding: 20px;
	min-width: 250px;
}

#front-page-smiley {
	max-width: 350px;
}

.grid-bottom {
	height: 100px;
}

@media screen and (min-width: 892px) {
	.middle-grid-container {
		grid-template-columns: 10% auto 10%;
	}
}

table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	text-align: left;
	padding: 5px;
	font-size: 12px;
	width: 100%;
}
th, td {
	background-color: #96D4D4;
	width: 33%;
}

@media screen and (min-width: 892px) {
	table, th, td {
		font-size: 14px;
	}
}

.footer-container {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.footer-container img {
	min-width: 300px;
	max-width: 548px;
}

.rounded-colour-container {
	display: flex;
	align-items: center;
	text-align: left;
	border: 5px solid;
	border-radius: 15px; 
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	overflow:hidden;
	margin: 4px;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

h3:link, h3:visited {
  text-decoration: none;
  color: inherit;
}


#pink {
	background-color: #ce03fc;
	border: 5px solid #ce03fc;
	padding: 20px;
}
 
#gold {
	background-color: #fcba03;
	border: 5px solid #fcba03;
	padding: 20px;
}

#green {
	background-color: #6bf502;
	border: 5px solid #6bf502;
	padding: 20px;
}
 
#maggies-pink {
	background-color: #e10073;
	border: 5px solid #e10073;
	color: white;
}

#sickle-green {
	background-color: #00592a;
	border: 5px solid #00592a;
	color: white;
}
 
#epilepsy-green {
	background-color: #6bf502;
	border: 5px solid #6bf502;
	color: black;
}

#drag-blue {
	background-color: #021ff5;
	border: 5px solid #021ff5;
	color: white;
}
 
 .charity {
	display: flex;
	flex-flow: column;
	align-items: top;
	text-align: center;
	padding: 5px;
 }
 
 @media screen and (min-width: 892px) {
	.charity {
		flex-flow: row;
	}
}
 
 .charity img {
	width: 100px;
 }
 
 .charity p {
	 font-style: bold;
	 text-align: left;
 }
.email-form-container {
	border: 5px solid;
	border-radius: 20px;
}
	
 .email-container {
  padding: 20px;
  background-color: #fcba03;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 20px; 
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  box-sizing: border-box;
}

input[type=submit] {
 background:#223445;
 font-size: 12px;
 color:#FFFFFF ;
 padding: 0;
 border: 1px solid #223445;
 width: 15em;
 height: 4em;
 -webkit-font-smoothing: antialiased;
}

input[type=submit]:hover {
  opacity: 0.8;
}

audio {
	padding-left: 15px;
	padding-right: 15px;
	width: 70%;
}

.download-smiley {
	width: 160px;
	min-height: 45px;
	padding-left: 15px;
	padding-right: 10px;
}

.audio-grid {
	display: grid;
	grid-template-rows: auto auto auto;
	gap: 5px;
	padding: 10px;
	border-radius: 15px;
	
}
 .audio-grid div {
	 display: block;
	 margin: auto;
 }

@media screen and (min-width: 892px) {
	.audio-grid {
		grid-template-columns: auto auto auto;
	}
}